body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    background-image: url(../assets/wave-haikei.svg);
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding: 40px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #fff8f8;
    box-shadow: -1px 1px 8px 2px #200835;
}

#text-input {
    font-size: 1.5rem;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    padding: 0px 200px;
    text-align: center;
    margin: 0;
}

button {
    font-size: 1rem;
    padding: 19px 20px;
    margin: 40px 5px;
    background-color: #250340;
    color: white;
    border-radius: 50px;
    border: none;
    transition: transform 250ms;
    text-transform: uppercase;
    box-shadow: -2px 5px 15px 2px #9684b1;
}

button:hover {
    transform: translate(1px, -1px);
    cursor: pointer;
    background-color: #f6beb4;
    color: black;
}

#affirmation {
    font-size: 1.7rem;
    font-weight: 100;
    margin: 10px 0px 0px;
}

@media screen and (min-width: 768px) {
    main {
        padding-top: 20px;
    }

    .container {
        width: 55%;
        height: 80vh;
        box-shadow: -1px 1px 7px #200835;
    }

    h1 {
        padding: 40px 100px 20px;
        font-size: 3rem;
        line-height: 50px;

    }

    button {
        font-size: 1.3rem;
        padding: 20px;
        margin: 70px 0px 50px;
        color: white;
        border-radius: 50px;
        border: none;
        transition: transform 250ms;
        text-transform: uppercase;
        box-shadow: -2px 5px 15px 2px #9684b1;
    }

    #affirmation {
        font-size: 2.6rem;
        height: 200px;
        padding: 0px 30px;
    }


}