@use 'mixins';

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    background-image: linear-gradient(to top, rgba(169,208,113,0),rgba(136,173,215,1)),
        url(../assets/hero-mobile.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    
      @include mixins.desktop-only {
        background-image: none;
      }
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

video {
    display: none;

    @include mixins.desktop-only {
        display: block;
        object-fit: cover;
        object-position: center;
        height: 100vh;
        position: relative;
        width: 100%;
      }
}

.container {
    position: relative;
}

.text-container {
    color: #fff;
    padding-top: 100px;

    @include mixins.desktop-only {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        padding-top: 100px;
      }
}

.reminder-container {
    display: none;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    height: auto;
    border-radius: 30px;
    margin: 0px 20px;
    color: #000;
    padding: 10px 40px 30px;


    @include mixins.tablet-only {
        margin: 0px 50px;
      }

    @include mixins.desktop-only {
        display: none;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.7);
        width: 400px;
        height: auto;
        border-radius: 30px;
        margin: 0 auto;
        color: #000;
        padding: 10px 40px 30px;
      }

    .reminder-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;


        h2 {
            font-weight: 700;
            font-size: 1rem;
        }

            .bi-bookmark-heart-fill {
                font-size: 1.5rem;
            }
      
    }



    #reminder {
        display: none;
        font-size: 1.1rem;
        height: auto;
        color: rgb(34, 34, 34);
        font-weight: 500;
        text-align: left;

    }

}

h1 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    margin: 0;
    color: #000;

    @include mixins.tablet-only {
        font-size: 2.5rem;
      }
    
      @include mixins.desktop-only {
        font-size: 3rem;
        line-height: 50px;
        text-shadow: none;
        color: #000;
      }
}

button {
    position: relative;
    background-color:#fff;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 16px;
    color: #000;
    padding: 12px 20px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    margin: 50px 0px;
    border: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    /* Safari */

    @include mixins.desktop-only {
        button {
            background-color: #000;
            color: #fff;

            &:hover {
                transition-duration: 0.2s;
                background-color: #ffffff;
                color: #000;
                border: 1px solid #000;
            }
        }
      }
}

button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 30px #fff;
}

button:active:after {
    box-shadow: #fff;
    position: absolute;
    border-radius: 30px;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

button:active {
    top: 1px;
}


#reminder {
    display: none;
    font-size: 1.7rem;
    font-weight: 300;
    margin: 10px 0px 0px;

    @include mixins.desktop-only {
        font-size: 1.1rem;
        height: auto;
        color: rgb(34, 34, 34);
        font-weight: 500;
        text-align: left;
      }
}
