body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: #dfdbe5;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a28cc6' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

main {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding: 40px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #fff8f8;
    box-shadow: -2px 5px 10px 2px #9684b1;
}

#text-input {
    font-size: 1.5rem;
}

h1 {
    font-family: 'Knewave', cursive;
}

button {
    font-size: 1.3rem;
    padding: 20px;
    margin: 20px;
    background-color: #9684b1;
    color: white;
    border-radius: 50px;
    border: none;
    transition: transform 250ms;
    text-transform: uppercase;
    box-shadow: -2px 5px 15px 2px #9684b1;
}

button:hover {
    transform: translate(1px, -1px);
    cursor: pointer;
    background-color: #dfd4f0;
    color: black;
}